@page
@model KoiCareSystem.RazorWebApp.Pages.Admin.PondPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pond Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].PondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].DrainCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].PumpCapacity)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Pond[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].UpdatedAt)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].SkimmerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pond)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PondName)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="Pond Image" style="width: 100px; height: auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrainCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PumpCapacity)
                </td>
@*                 <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.SkimmerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @* <a asp-page="./Edit" asp-route-id="@item.PondId">Edit</a> | *@
                    <a asp-page="./Details" asp-route-id="@item.PondId">Details</a>
                    @* <a asp-page="./Delete" asp-route-id="@item.PondId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
