@page
@model KoiCareSystem.RazorWebApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Email)
                </th>
                <th>
                    Password
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].EmailVerifiedToken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].EmailVerified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        *****
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailVerifiedToken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailVerified)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
