@page
@model KoiCareSystem.RazorWebApp.Pages.Shop.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products Management</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <div class="row mb-3 justify-content-around">
        <div class="col-md-3">
            <label for="SearchId">Product ID:</label>
            <input type="text" id="SearchId" name="SearchId" value="@Model.SearchId" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="SearchName">Product Name:</label>
            <input type="text" id="SearchName" name="SearchName" value="@Model.SearchName" class="form-control" />
        </div>
        <div class="col-md-3">
            <label for="SearchType">Product Type:</label>
            <input type="text" id="SearchType" name="SearchType" value="@Model.SearchType" class="form-control" />
        </div>
        <div class="col-md-auto align-self-end">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
