@page
@model KoiCareSystem.RazorWebApp.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PashwordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PashwordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
