@page
@model KoiCareSystem.RazorWebApp.Pages.Member.WaterParameters.DetailModel

@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.PondName</h1>



<div>
    <h4>WaterParameter</h4>
    <a asp-page="./Create" asp-route-id="@Model.PondId"> Load</a> |||
    <a asp-page="/Member/WaterParameters/History" asp-route-id="@Model.PondId">History</a>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.MeasurementDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.MeasurementDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Temperature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Salinity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Salinity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Ph)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Ph)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.O2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.O2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.No2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.No2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.No3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.No3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Po4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Po4)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.UpdatedAt)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.WaterVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.WaterVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterParameter.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterParameter.Status.StatusName)
        </dd>
    </dl>
</div>
<div>
    <h4>Water Parameter Comparison</h4>
    <hr />
    <dl class="row">
        @foreach (var comparison in Model.ParameterComparisons)
        {
            <dt class="col-sm-2">
                @comparison.Key
            </dt>
            <dd class="col-sm-10">
                @comparison.Value
            </dd>
        }
    </dl>
</div>

<div>
    <a asp-page="/Member/PondPages/Index">Back to List</a>
</div>