@page
@model KoiCareSystem.RazorWebApp.Pages.Member.WaterParameters.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].MeasurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Salinity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Ph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].O2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].No2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].No3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Po4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Pond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterParameter[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WaterParameter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salinity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Po4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pond.PondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ParameterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ParameterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ParameterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
